<h1>View Tweet</h1>
<p style="color: green"><%= notice %></p>
<div class="card text-bg-primary"> 
    <%= render @tweet %>
</div>


<div class="container text-center">
  <div class="row row-cols-auto">

      <div class="col">
          <%= link_to image_tag('backc.svg'), tweets_path  ,class: "btn btn-light" , title: "Back page"%>
      </div>

      <div class="col">
          <%= link_to image_tag('editc.svg'), edit_tweet_path(@tweet) ,class: "btn btn-light"  , title: "Edit tweet" %> 
      </div>

      <div class="col">
          <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#exampleModal">
              <%= image_tag('deletec.svg') %>
          </button>
      </div>
  </div>

</div>


<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-bg-primary">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Seguro que deseas Eliminar el Tweet</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       User : <%= @tweet.username%>
       <br> <br>
       Tweet : <%= @tweet.description%>
      </div>
      <div class="modal-footer text-bg-light">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        
        <%= button_to image_tag('deletec.svg'), @tweet, method: :delete ,class: "btn btn-danger"   , title: "DELETE tweet"%>
      </div>
    </div>
  </div>
</div>